<header>
    <table class = "header-table">
        <tr>
            <td><h1>Your Pet Shop Family</h1></td>
        </tr>
        <tr><td><a href = "home.html">
            <img src = "Logo.png" alt = "Logo of Pet Shop Family">
            </a></td>
        </tr>
        <tr>
            <td>
                <!-- Add a div to display the date and time -->
                <div id="datetime"></div>
            </td>
        </tr>
    </table>
</header>

<script src="/datetime.js"></script>