<!-- views/partials/navbar.ejs -->
<nav class="side-menu">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/register">Create an account</a></li>
        <li><a href="/available">Browse Available Pets</a></li>
        <li><a href="/find">Find a dog/cat</a></li>
        <li><a href="/dog">Dog Care</a></li>
        <li><a href="/cat">Cat Care</a></li>
        <li><a href="/giveAway">Have a pet to give away</a></li>
        <li><a href="/contact">Contact us</a></li>
        <li><a href="/logout">Log Out</a></li>
    </ul>
    <p>
</nav>
