<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact us</title>
    <link rel = "stylesheet" href = "petShop.css"/>  
    <link href="https://fonts.googleapis.com/css2?family=Sniglet&display=swap" rel="stylesheet">

</head>

<body>
     <!--Grid layout--> 
     <div class = "grid-container">

        <!--Header-->
        <%- include('partials/header') %>


        <!--Side menu bar-->
        <%- include('partials/navbar') %>

       <!--Content area-->
       <article>
        <h2>Contact us</h2>
            <h3>How to contact us</h3>
            <p>Ask for Sara Boutine</p>
            <p>Email address: sara.boutine04@gmail.com</p>
            <a href = "https://www.freepik.com/premium-ai-image/dogs-cats-lined-up-together-portrait-front-seamless-pink-background-mixed-breeds_60164348.htm"><img src = "contactUs.avif"
                width =500 alt = "Picture">
                </a>
       </article>


    <!--footer-->
    <%- include('partials/footer') %>


    </div><!--grid layout end-->

</body>
</html>