<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/petShop.css">
    <link href="https://fonts.googleapis.com/css2?family=Sniglet&display=swap" rel="stylesheet">

</head>
<body>
    <!--Grid layout--> 
    <div class = "grid-container">

    <!--Header-->
    <%- include('partials/header') %>

    <!--Side menu bar-->
    <%- include('partials/navbar') %>

    <article>
        Logged out successfully!
    </article>

    <!--footer-->
    <%- include('partials/footer') %>

</div><!--grid layout end-->
</body>
</html>